{% extends "admin_layout.html" %}

{% block title %}Admin | Product{% endblock %}


{% block body %}
<div class="m-2 p-2">
    <div class="row my-3 justify-content-between">
        <div class="col">
            <h1 class="display-4 fw-bold">Products Overview</h1>
        </div>
        <div class="col-auto">
            <a href="/admin/products/add" class="btn btn-lg admin-color">Add Product <i class="bi bi-plus-lg"></i></a>
        </div>
        <hr>
    </div>

    <div class="row justify-content-between mb-4">
        <div class="col-3">
            <div class="card shadow bg-light">
                <div class="card-body">
                    <h5 class="card-title text-primary">Total Products</h5>
                    <h5 class="card-text">{{ total_products }}</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow bg-light">
                <div class="card-body">
                    <h5 class="card-title text-primary">Total Stock</h5>
                    <h5 class="card-text">{{ total_stock }}</h5>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row rounded">
        <table class="table table-light table-striped shadow rounded">
            <thead>
              <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Supplier</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total Orders</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
            {% for product in products.values() %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ suppliers[product.supplier_uuid].company }} <a href="/admin/products/edit/{{ product.supplier_uuid }}"><i class="bi bi-box-arrow-up-right"></i></a> </td>
                <td>{{ product.quantity }}</td>
                <td>${{ product.price }}</td>
                <td>{{ product.total_orders }}</td>
                <td><a href="/admin/products/edit/{{ product.uuid }}"><i class="bi bi-pencil-square"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
    
</div>
{% endblock %}
