{% extends "admin_layout.html" %}

{% block title %}Admin | Customers{% endblock %}


{% block body %}
<div class="m-2 p-2">
    <div class="row my-3 justify-content-between">
        <div class="col">
            <h1 class="display-4 fw-bold">Customers Overview</h1>
        </div>
        <hr>
    </div>

    <div class="row justify-content-between mb-4">
        <div class="col-3">
            <div class="card shadow bg-light">
                <div class="card-body">
                    <h5 class="card-title text-primary">Total Customers</h5>
                    <h5 class="card-text">{{ total_customers }}</h5>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="row rounded">
        <table class="table table-light table-striped shadow rounded col-12">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone no.</th>
                <th scope="col">Total Orders</th>
                <th scope="col">Edit</th>
              </tr>
            </thead>
            <tbody>
            {% for customer in customers.values() %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phonenumber }}</td>
                <td>{{ customer.orders.values()|length }}</td>
                <td><a href="/admin/customers/edit/{{ customer.uuid }}"><i class="bi bi-pencil-square"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
    
</div>
{% endblock %}
